<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<form method="POST" th:action="@{/ingredients/add}" th:object="${ingredient}">
    <h1>Add a new Ingredient!</h1>
    <h3>Input the ingredient information ...</h3>
    <table border="0" cellspacing="5">
        <tr>
            <td align="right"><label for="id">ID: </label></td>
            <td align="right"><input th:field="*{id}" type="text"/></td>
        </tr>
        <tr>
            <td align="right"><label for="name">Name: </label></td>
            <td align="right"><input th:field="*{name}" type="text"/></td>
        </tr>
        <tr>
            <td align="right"><label for="type">Type: </label></td>
            <td align="left">
                <select th:field="*{type}">
                    <option th:text="WRAP" th:value="'WRAP'"></option>
                    <option th:text="PROTEIN" th:value="'PROTEIN'"></option>
                    <option th:text="VEGGIES" th:value="VEGGIES"></option>
                    <option th:text="CHEESE" th:value="'CHEESE'"></option>
                    <option th:text="SAUCE" th:value="'SAUCE'"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>
